body {
    padding: 20px;
    background: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    max-width: 800px;
    background-color: darkseagreen;
}

td {
    vertical-align: top;
    padding: 12px 15px;
    border-bottom: 1px solid;
}

td:first-child {
    width: 60%;
    font-weight: 600;
    color: black;
}


td:last-child {
    width: 40%;
    color: black;
    font-style: italic;
}


.buttons {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

button {
    background-color: lightblue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 8px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 6px;
}

textarea {
    width: 100%;
    font-size: 14px;
}

select, input[list] {
    width: 100%;
    padding: 6px;
    font-size: 14px;
}
