
#counter {
    font-size: 18px;
    font-weight: bold;
    color: dimgrey;
    margin: 10px 0;
}

#opilased {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}

div.opilased {
    background-color: antiquewhite;
    border: 2px solid dimgrey;
    border-radius: 0;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.opilased:hover {
    background-color: dimgrey;
    color: white;
}