    header {
        background-color: #f1f1f1;
        text-align: center;
        padding: 10px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    footer {
        position: static;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f1f1f1;
        padding: 8px;
        text-align: center;
    }

    .menu, .menu ul{
        line-height: 1;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .menu{
        display: block;
        position: relative;
        height: 47px;
        width: 100%;
        background: darkgreen;
        top: 10px;
    }

    .menu ul>li {
        display: block;
        position: relative;
        float: left;
    }

    .dropdown{
        display: none;
    }

    .dropdown{
        /*  display: none;*/
        display: block;
        position: absolute;
        opacity: 0;
        background: darkolivegreen;

        transition: all 0.3s ease;
    }

    .menu li:hover>ul{
        top: 47px;
        left: 0;
        opacity: 1;
    }

    .menu li>a{
        display: block;
        color: whitesmoke;
        padding: 16px;
        width: 130px;
        text-align: center;
        font-size: 15px;
        font-weight: 300;

        transition: all 0.5s ease;
    }


    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #333333;
    }

    ul li a {
        display: block;
        color: #f1f1f1;
        padding: 14px 16px;
        text-decoration: none;
    }

    ul li a:hover {
        background-color: #dddddd;
        color: black;
    }

    div.flex-container > div{
        margin: 10px;
        flex: 1;
        padding: 10px;
    }

    div.flex-container{
        margin-left: 10%;
        display: flex;
        flex-direction: row;
    }

    img {
        width: 100px;
    }

    div.flex > div{
        display: flex;
        margin: 10px;
        flex: 1;
        border: darkcyan solid;
        border-radius: 15px;
        padding: 20px;
    }

    div.flex{
        margin-left: 10%;
        display: flex;
        flex-direction: row;
    }

